:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
  background: #f2f4f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin-top: 0;
}
